* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.header {
  height: 100%;
  width: 100%;
  /* padding: 0 8%; */
  background: #080008;
  position: relative;
}
.headerlogo {
  background: #080008;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
  border: 5px double gold;
}
/* .img-fluid{
   display: flex;
   flex-direction: row;
   justify-content: center;
    
} */
.headerlogo{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
}
#gify{
  height: 350px;;
  width: 350px;
  padding: 5px;
  padding-left: 8px;
  border-radius: 100%;
  
}
.img-fluid-new{
    align-items: center;
    height: 200px;
    width: 300px;
    align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 315px;
  margin-right: 20px;
}
.nav-links {
  padding: 32px 0;
}
.nav-links li {
  display: inline-block;
  margin: 0 15px;
  font-size: x-large;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: #ff3d00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .nav{
    float: none;
    display: block;
  }
}
